<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConexao" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IConexao" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/Conexao" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IConexao" contract="Servico.IConexao"
                name="NetTcpBinding_IConexao">
                <identity>
                    <userPrincipalName value="MIKE-NOT\Mike" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9091/Conexao" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConexao" contract="Servico.IConexao"
                name="BasicHttpBinding_IConexao" />
        </client>
    </system.serviceModel>
</configuration>